body {
  background-color: black;
}
.counterTimer {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}
.counterTimer .num {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-family: "Georgia";
  font-size: 70px;
  color: #888;
}
.counterTimer .slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}
.counterTimer .slice.nc {
  clip: rect(auto, auto, auto, auto);
}
.counterTimer .slice .quater {
  position: absolute;
  width: 170px;
  height: 170px;
  border: 16px white solid;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 0px);
  z-index: 2;
}
.counterTimer .slice .pie {
  border: 15px red solid;
  position: absolute;
  width: 170px;
  height: 170px;
  clip: rect(0px, 100px, 200px, 0px);
  border-radius: 50%;
  transition: all 1s linear;
  z-index: 1;
}
